*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    height: 100px;
    background: blue;
    display: flex;
    padding: 20px;
}

#menu{
  margin-left: 23%;
}

#menu ul li{
    display: inline-block;
    padding: 30px;
    margin-top: -30px;
}

#menu ul li a{
    display: inline-block;
    position: relative;
    color: white;
    text-decoration: none;
    line-height: 60px;
    padding: 0 8px;
    text-transform: uppercase;
    transition: .2s;
}

#menu ul li a:hover{
    background: brown;
}








