/* Configuración de estilo del main */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* Configuración de estilo del NavBar */
header{
    height: 100px;
    background: rgb(23, 253, 234);
    display: flex;
    padding: 20px;
}

#NavBar{
  margin-left: 23%;
}

#NavBar ul li{
    display: inline-block;
    padding: 30px;
    margin-top: -50px;
}

#NavBar ul li a{
    display: inline-block;
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 100px;
    padding: 0 15px;
    text-transform: uppercase;
    transition: .2s;
}

#NavBar ul li a:hover{
    background: rgb(16, 201, 201);
}


/* Configuración de estilo del Hero */
#Hero{
    position: relative;
    overflow: hidden;
}

#carrusel{
    position: relative;
    z-index: 998;
    height: 600px;
}

img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

#img2{
    left: 100%;
}

.active{
    left: 0 !important;
}







