*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    height: 100px;
    background: rgb(23, 253, 234);
    display: flex;
    padding: 20px;
}

#menu{
  margin-left: 23%;
}

#menu ul li{
    display: inline-block;
    padding: 30px;
    margin-top: -50px;
}

#menu ul li a{
    display: inline-block;
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 100px;
    padding: 0 15px;
    text-transform: uppercase;
    transition: .2s;
}

#menu ul li a:hover{
    background: rgb(16, 201, 201);
}








